.row
  .col-xs-4
  .col-xs-8
    h2 Fulfill your profile!
    h5 It will help you to increase your credit score!
= render partial: 'profiles/form', locals: {profile: @profile, path: wizard_path}


          /
          /t.string   "first_name"
          /t.string   "last_name"
          /t.integer  "sex"
          /t.string   "home_phone"
          /t.string   "mobile_phone"
          /t.string   "company_name"
          /t.string   "job_position"
          /t.string   "nationality"
          /t.string   "credit_number"
          /t.string   "address"
          /t.string   "passport"
          /t.decimal  "salary"
          /t.string   "salary_document"
          /t.integer  "family_status"
          /t.date     "birth_date"